*{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

.pro-bar{
    padding-left: 0;
    padding-right: 0;
    background-color: #4267b2;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

.pro-bar .row{
    margin-right: 0;
    margin-left: 0;
    padding: 8px;
    text-align: center;
}
.pro-bar .row a{
    text-decoration: none;
}
.pro-bar span{
    color: white;
}


header{
    background-color: white;
}

header .menu{
    width: 100%;
    padding-right: 0;
}
header .menu row{
    width: 100%;
}
header .menu .logo{
    width: 110%;
}

header .menu .logo a{
    width: 100%;
    height: 100%;
    display: block;
}



header .menu .logo a img{
    width: 100%;
    margin: 7px 0;
}


header nav.desk-menu {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}
header nav.desk-menu ul{
    height: 100%;
    list-style: none;
    padding-left: 0;
    margin: 0;
    padding: 0;
}
header nav.desk-menu li.itemMenu{

    position: relative;

    display: inline-block;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    padding: 0;
    margin-right: 10px;
    height: 100%;

}
header nav.desk-menu li.itemMenu .layer1{
    display: inline-block;
    color: black;
    text-decoration: none;
    height: 100%;
    padding-top: 15px;
    text-transform: uppercase;

}


header nav.desk-menu li.itemMenu .layer1::after{
    content: "";

    position: absolute;

    width: 100%;
    height: 2px;
    top: 57px;
    left: 0px;
    background-color: black;
    transform-origin: 100% 100%;
    transform: scale(0, 1);
    transition: 0.25s;
    transition-property: transform;
}

header nav.desk-menu li.itemMenu:hover .layer1::after{
    transform-origin: 0% 0%;
    transform: scale(1, 1);
}

nav.desk-menu li.itemMenu .layer1 i{
    display: inline-block;
    vertical-align: middle;
    font-size: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
    transition: 0.25s;
}

header nav.desk-menu li.itemMenu:hover .layer1 i{
    transform: rotate(180deg);
}



header nav.desk-menu .subMenu{
    position: absolute;
    background: #fff;
    height: 114px;
    z-index: 2;
    
    transform: rotate3d(1,0,0,-90deg);
    transform-origin: 0 0 0;
    transition: all .5s ease;
}

header nav.desk-menu .subMenu li{
    border-bottom: #ecf0f1 1px solid;
}

header nav.desk-menu .subMenu li a{
    display: inline-block;
    padding: 9px 18px;
    white-space: nowrap;
    text-align: left;
    font-size: 14px;
    text-decoration: none;
}

header nav.desk-menu li.itemMenu:hover .subMenu{
    transform: rotate3d(0,0,0,0deg);
}

header nav.desk-menu li.itemMenu .subMenu li:hover a{
    color: #c59d5f;
}

header nav.icon {
    width: 150px;
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
}
header nav.icon > ul{
    list-style: none;
    text-align: center;
    list-style: none;
    padding-left: 0;
    margin: 0;
    padding: 0;
}
header nav.icon li{
    display: inline;
    display: inline-block;
    line-height: 1.4;
    padding: 0;
    margin-right: 10px;

}
header nav.icon li a{
    display: inline-block;
    width: 19px;
    height: 100%;
}
header nav.icon li a img{
    width: 100%;
    height: 100%;
}

span.count {
    position: relative;
    top: 5px;
    font-size: 10px;
    text-align: center;
}


header nav.icon li a .bar{
    opacity: 0;
    visibility: hidden;
    
    position: relative;
    display: block;
    background: black;
    width: 16px;
    height: 1px;
    top: -5px;
}

header nav.icon li a .bar::before{
    content: "";
    position: absolute;
    right: 0;
    bottom: 5px;
    width: 16px;
    height: 1px;
    background: #000;
}

header nav.icon li a .bar::after{
    content: "";
    position: absolute;
    right: 0;
    top: 5px;
    width: 16px;
    height: 1px;
    background: #000;
}

/* .col-sm-5 {
    width: 41.66666667%;
}
.col-sm-7 {
    width: 58.33333333%;
    padding-left: 3em;
} */

@media (max-width: 991px){

    header nav.icon li a {
        width: 17px;
    }

    header nav.icon li a .bar{
        opacity: 1;
        visibility: visible;
    }

    .pro-bar{
        font-size: 10px;
    }

    .hidden-sm {
        display: none!important;
    }
    .hidden-xs {
        display: none!important;
    }
    .hidden-md {
        display: none!important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px){
    header .menu .logo {
        width: 70%;
    }

}


main.mainIndex{
    width: 100%;
}
.containSlide{
    padding-left: 0;
    padding-right: 0;
}

section.sectionSlide img{
    width: 100%;
    height: 100%;
}